<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/butterChicken.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy"
            alt="Cooking with Node.JS">
    </div>
    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">Huge Selection of Delicious Recipe Ideas</h1>
        <p>
            Explore a wide range of recipes to satisfy your culinary cravings. From quick and easy meals to gourmet
            delights, we've got you covered.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start ">
            <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2 ">Explore Latest</a>
            <a href="/explore-random" class="btn btn-outline-secondary btn-lg px-4 me-md-2 ">Random Recipe</a>

        </div>

    </div>
</div>


<!-- catogery  -->
 
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

    <% if(categories && categories.length > 0) { %>
        <% categories.forEach(function(category, index) { %>
            <a href="/categories/<%- category.name %>" class="col text-center category__link">
                <div class="category__img shadow">
                    <img src="img/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
                </div>
                <div class="pt-1"><%- category.name %></div>
            </a>
        <% }) %>
    <% } %>
    

    <a href="/categories" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/view-all.jpg" alt="View all" loading="lazy">
        </div>
        <div class="pt-1">View All</div>
    </a>

</div>


<!-- catogery  -->

<!-- Latest Start -->

<section class="pb-4 pt-4 ">
    <div class="d-flex mb-2 align-items-center ">
        <h2>Latest Recipes</h2>
        <a href="/explore-latest" class="ms-auto">View More</a>
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% if(food != ''){ %>
        <% food.latest.forEach(function(recipe,index){ %> 
        <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow ">
                <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
            </div>
            <div class="pt-1 "><%= recipe.name %></div>
        </a>
        <% })%>
        <% } %>
        

    </div>
</section>

<!-- Latest end  -->



<!-- Indian Start -->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Indian Recipes</h2>
        <a href="/categories/Indian" class="ms-auto">View More</a>
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <% if(typeof food.indian !== 'undefined' && food.indian.length > 0 ){ %>
        <% food.indian.forEach(function(recipe,index){ %> 
        <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%= recipe.name %></div>
        </a>
        <% })%>
        <% } %>
    </div>
</section>

<!-- Indian end -->


<!-- Nepali Start -->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Nepali Recipes</h2>
        <a href="/categories/Nepali" class="ms-auto">View More</a>
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <% if(typeof food.nepali !== 'undefined' && food.nepali.length > 0 ){ %>
        <% food.nepali.forEach(function(recipe,index){ %> 
        <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%= recipe.name %></div>
        </a>
        <% })%>
        <% } %>
    </div>
</section>

<!-- Nepali end -->


<!-- Spanish Start -->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Spanish Recipes</h2>
        <a href="/categories/Spanish" class="ms-auto">View More</a>
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <% if(typeof food.spanish !== 'undefined' && food.spanish.length > 0 ){ %>
        <% food.spanish.forEach(function(recipe,index){ %> 
        <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%= recipe.name %></div>
        </a>
        <% })%>
        <% } %>
    </div>
</section>

<!-- Spanish end -->




<!-- American Start -->

<section class="pb-4 pt-4 ">
    <div class="d-flex mb-2 align-items-center ">
        <h2>American Recipes</h2>
        <a href="/categories/American" class="ms-auto">View More</a>
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% if(typeof food.american !== 'undefined' && food.american.length > 0 ){ %>
        <% food.american.forEach(function(recipe,index){ %> 
        <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow ">
                <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
            </div>
            <div class="pt-1 "><%= recipe.name %></div>
        </a>
        <% })%>
        <% } %>
        

    </div>
</section>

<!-- American end -->

<!-- Chinese Start -->

<section class="pb-4 pt-4 ">
    <div class="d-flex mb-2 align-items-center ">
        <h2>Chinese Recipes</h2>
        <a href="/categories/Chinese" class="ms-auto">View More</a>
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% if(food.chinese != '' ){ %>
        <% food.chinese.forEach(function(recipe,index){ %> 
        <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow ">
                <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
            </div>
            <div class="pt-1 "><%= recipe.name %></div>
        </a>
        <% })%>
        <% }else {%>
            <p>No item found.</p>
        <% } %>
    </div>
</section>

<!-- Chinese end  -->


<!-- submit -->
<section class="px-4 py-5 my-5 text-center">
    <img src="/img/publish-recipe.png" class="d-block mx-auto mb-4 img-fluid" alt="Publish your recipe" width="566"
        height="288" loading="lazy">
    <h1 class="display-5 fw-bold">Publish your recipe for free!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Publish your recipe in front of a large audience eager to try it out!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/submit-recipe" class="btn btn-primary btn-dark btn-lg">Submit your recipe</a>
        </div>
    </div>
</section>

<!-- submit -->